**4. Aplique a su dataset el etiquetado simple y binario.**

In [1]:
import sklearn
import pandas as pd
dat = pd.read_csv("./bank.csv")
dat.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [2]:
datos = dat.iloc[:, [1,2,3,4,6,7,8,10,15,16]]
nombre_colum = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'deposit']

# Etiquetado Simple y Binario

In [3]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelBinarizer

metodo = LabelEncoder() #ETIQUTADO SIMPLE
metodo2 = LabelBinarizer() #ETIQUTADO BINARIO
for i in range(1):
    print("  ", nombre_colum[i])
    d = datos.iloc[:, i].unique()
    d2 = metodo.fit_transform(d)
    d1 = metodo.inverse_transform(d2)

    # IMPRIMIR EL ETIQUETADO SIMPLE
    max_width = max(max(len(str(d2_val)) for d2_val in d2), max(len(d1_val) for d1_val in d1))
    rows = 2
    columns = len(d1)
    table = [[None for _ in range(columns)] for _ in range(rows)]
    for i in range(columns):
        table[0][i] = str(d2[i]).ljust(max_width)
        table[1][i] = d1[i].ljust(max_width)
    for row in table:
        for cell in row:
            print(cell, end="\t")
        print()
    print(80*'-')

    # IMPRIMIR EL ETIQUETADO BINARIO
    d3 = metodo2.fit_transform(d)
    print(d3)

   job
0            	9            	7            	4            	5            	1            	10           	2            	3            	11           	6            	8
admin.       	technician   	services     	management   	retired      	blue-collar  	unemployed   	entrepreneur 	housemaid    	unknown      	self-employed	student
--------------------------------------------------------------------------------
[[1 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 1 0 0]
 [0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 0 1 0 0 0 0 0 0]
 [0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 1 0]
 [0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1]
 [0 0 0 0 0 0 1 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0]]

El etiquetado simple y binario en el conjunto de datos "bank marketing" simplifica el problema de análisis y modelado, lo que puede hacer que sea más manejable y efectivo para predecir decisiones importantes, como la aceptación o el rechazo de ofertas bancarias. Además, esta simplificación facilita la identificación de patrones y tendencias claras en los datos, permitiendo una segmentación más efectiva de la audiencia y la personalización de estrategias de marketing. La interpretación de los resultados se vuelve más transparente, lo que a su vez simplifica la medición del éxito y la toma de decisiones basadas en resultados concretos. En última instancia, el etiquetado binario ahorra tiempo y recursos al reducir la complejidad del problema y permite una implementación más eficiente de estrategias de marketing.